
<div id="container">
    <div>
        <h1 id="titleMainPage">{{title}}</h1>
        
    </div>
    <div>
            <button id="mainButton"> <a href="/movies">Check the movies!</a></button>
    </div>
</div>

