body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/cinema.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed
}

a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}


h1 {
  font-size: 4rem;
}

.titles {
  color: rgb(44, 44, 44);
}

button {
  background-color: rgba(44, 44, 44, 0.644);
  height: 3rem;
  border-radius: 20px;
  border-color: white;
}

.searchMovies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  border-radius: 10px;
}

.movies {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.735);
  max-width: 300px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.movies:hover {
  transform: scale(1.15);
}


h2 {
  color: white;
}

#container-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(255, 255, 255, 0.301);
  border-radius: 10px;
  align-items: center;
  text-align: center;
  border: solid white;
}

.backButton {
  color: white;
}

.containerDetailMovies {
  padding: 10px;
}


#container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 70vh;
}

#title {
  color: rgb(44, 44, 44);
  text-shadow: -20px 0px 7px rgb(245, 245, 245);
  align-self: center;
}

.align {
  display: flex;
  align-items: center;
  justify-content: center;
}

#titleMainPage {
  text-shadow: -20px 0px 7px rgb(221, 124, 124);
}

#mainButton:hover {
  background-color: brown;
}

.moviesImg> img{
  width: auto;
  height: 100%;
}