body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/cinema.jpg');
  background-size:cover;
  background-position:  center center;
  background-repeat: no-repeat;
  background-attachment: fixed
}

a {
  color:white;
  text-decoration: none;
  font-size: 1rem;
}


h1{
  font-size: 4rem;
}
button{
background-color: black;
height: 3rem;
border-radius: 20px;
border-color: white;
}

.searchMovies{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(255, 255, 255, 0.301);
  align-items: center;
  border-radius: 10px;
}
.movies{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2{
  color: white;
}

#container-detail{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(255, 255, 255, 0.301);
  border-radius: 10px;
  align-items: center;
  text-align: center;
}
.backButton{
  color: white;
}

.containerDetailMovies{
  padding: 10px;
}


#container{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 70vh;
  
}


#title{
  color: rgb(3, 3, 3);
  text-shadow: -20px 0px 7px rgb(245, 245, 245);
  align-self: center;
}

.align{
  display: flex;
  align-items: center;
  justify-content: center;
}