<div class="align">
    <h2 id="title">Click on the movie to check the showtimes!</h2>
</div>


<div class="searchMovies">
    {{#each movies}}
    <div class="movies">
        <div class="moviesImg">
            <img src="{{this.image}}" alt="artist img" />
        </div>
        <div class="movies">
            <h3>{{this.title}}</h3>
            <p>{{this.description}}</p>
        </div>

        <button> <a href="/movies/{{_id}}">See more!</a></button>
    </div>
    {{/each}}
</div>